@{
    ViewData["Title"] = "GolfHobby";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my golf site</h1>
    <p>This site explored my hobby of golf and also includes a calculator for you to see how much it would cost to have private lessons with me</p>
</div>
<br />
<br />
<div class="text-center">
    <img src="~/img/brendangolf.jpg" height="650px" alt="Brendan Golfing">
</div>
<br />
<br />
<p>
    Golf is an amazing sport!! It may be frustrating at times but it is a lot of fun. I played baseball all throughout highschool, so it seemed natural for me to pick up golf
    now that I am not able to play baseball anymore. 
</p>
<p>I started golfing last summer. My friend Derek is the person who really helped me get into golfing. Derek has played golf since he was 8, so his advice was invaluable to me 
    improving my golf swing and learning the elements of the game. Derek went to the driving range with me at least once a week throughout the whole summer and also played quite 
    a few rounds with me. I would not be as good as I am or as interested in golf if it were not for Derek.
</p> 
<div class="text-center">
    <img src="~/img/golfsunset.jpg" height="650px" />
</div>

<br />
<br />
<p>
    Golf is a great way to relax and also to bond with others. Both of my younger brothers golf. My youngest brother really likes golf. Over the summer, I was able to use golf to grow my 
    relationships with both of my brothers.
</p>
<p>I am not amazing at golf yet. My best 18 holes score is 99. However, I am pleased with the progress I have made and am excited to see how much better I will get in the 
    next few years. 
</p>